<a href="https://colab.research.google.com/github/Rana-G/Ranakowndinya_INFO5731_Spring2021/blob/main/in_class_exercise_11451201_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#(1) Write a Python program to calculate the length of a string. (2 points)

print("enter a string")
string=input()
len=0
while string[len :]:
    len +=1
    
print("the length of the string is", len)

enter a string
rana kowndinya
the length of the string is 14

In [ ]:
#(2) Write a Python program to count the number of characters in a string. (2 points) Sample String : 'google.com‘, Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

def num_chars(string):
  dict={}
  for x in string:
    keys=dict.keys()
    if x in keys:
      dict[x] +=1
    else:
      dict[x]=1
  return dict
print(num_chars('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [ ]:
#(3) Write a Python program to sum all the items in a list. (2 points)
lis=input("enter items in list with (,) between each element: ")
sum=0
for i in lis.split(","):
  sum=sum+int(i)
print("sum of the elements is: ",sum)

enter items in list with (,) between each element: 8,9,2
sum of the elements is:  19

In [ ]:
#(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points) Sample String : 'restart‘,Expected Result : 'resta\$t'

x=str(input("enter a string: "))
first_char=x[0]
s=s.replace(first_char,"$")
print(first_char+x[1:])

enter a string: rockstar
rockstar

In [ ]:
#(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where $\ S=3.14*(1+a/b)^3$ (3 points)
print("type 1st number")
x=float(input())
print("type 2nd number")
y=float(input())
def calculate(a,b):
  if a==0 and b==0:
    print("please enter numbers greater than 0 for a and b")
    return print
  else:
    A=3.14*(1+a/b)**3
    return A
print(calculate(x,y))

type 1st number
2
type 2nd number
3
14.537037037037033

In [ ]:
#Write a Python program to concatenate following dictionaries to create a new one. (3 points) Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
dic1={1:10,2:20}
dic2={3:30,4:30}
dic3={5:50,6:60}
dic4={}
for x in (dic1,dic2,dic3): dic4.update(x)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 30, 5: 50, 6: 60}

In [ ]:
#(7) Write a Python program to check whether an element exists within a tuple. (3 points)

X=input("enter element in tuple with (,): ")
find=input("enter number to know weather exist in tuple: ")
list=X.split(",")
Y=tuple(list)
if find in Y:
  print("the element exists")
else:
  print("there is no existence of this number")

enter element in tuple with (,): 23,45,232,64,23,8,2,4
enter number to know weather exist in tuple: 1
there is no existence of this number

In [ ]:
(8) #Write a Python program to find maximum and the minimum value in a set. (3 points)
X=input("enter set values with (,) after each element:")
list=X.split(",")
Y=set(list)
print("max value in the set",max(Y))
print("min value in the set",min(Y))

enter set values with (,) after each element:23,45,23,67,44,24,5,644
max value in the set 67
min value in the set 23

In [ ]:
#(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra) studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
import random
std_lis = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

def list(l):
  X=0
  for Y in l:
    X=X+1
  return X
group=[]
while list(std_lis)>=5:
  random.shuffle(std_lis)
  group.append(std_lis[ :3])
  std_lis.pop(0)
  std_lis.pop(0)
  std_lis.pop(0)
group.append(std_lis)
print(group)

[['tv0119', 'vmb0067', 'yye0005'], ['rak0120', 'mv0299', 'dy0091'], ['sg0940', 'at0739', 'nm0547'], ['ds0761', 'spk0057', 'bk0301'], ['msp0174', 'pn0159', 'dd0420'], ['pc0353', 'rrk0058', 'vl0135'], ['rs0850', 'ss1995', 'at0768', 'snd0097']]